#!/bin/bash

# O objetivo desse script é compactar todos os caminhos e arquivos declarados
# no array OBJECTS.

# $DESTINATION e $FORMAT via paramentro via linha de comando
if [ ! -z "$1" ]
    then
          DESTINATION="$1"
    else
          echo "!Erro: Caminho de destino é obrigatorio. '\$DESTINATION'"
          exit 0
    fi

if [ ! -z "$2" ]
    then
          FORMAT="$2"
    else
          echo "!Erro: Formato é obrigatorio. '\$FORMAT'"
          exit 0
    fi

# start date time
START=$(date)

# section
SECTION='compress'

# Compactar todos os caminhos e arquivos declarados no array abaixo,
# separados por um espaço.
OBJECTS=('/etc/apache2' '/etc/ssmtp' '/etc/samba')

# compress and parameters
COMP='tar -czf'
COMPTEST='tar ztvf'
COMPEXT='tar.gz'

# definir o format do backup

# formato 1
BACKUP="$DESTINATION/$SECTION/$FORMAT"
# BACKUP : DESTINATION SECTION FORMAT
#          /media/external-hd/backup /compress /2022-12-28_16h20

# formato 2
# BACKUP="$DESTINATION/$FORMAT/$SECTION"
#          DESTINATION FORMAT SECTION
#          /media/external-hd/backup /2022-12-29_16h20 /compress

# # # main code
source header.sh
source log.sh $DESTINATION $SECTION

CMD="mkdir -p $BACKUP"
source cmd.sh

# compactar separadamente cada objecto declarado no array
for ORIGIN in ${OBJECTS[*]}
    do
        # converte / em _ para filename
        # OBJ = /etc/smtp
        # F   = _etc_smtp
        F=$(echo $ORIGIN | sed 's/\//_/g')
        FILE="$BACKUP/$F.$COMPEXT"

        # header
        source header.sh

        # compress
        CMD="$COMP $FILE $ORIGIN"
        source cmd.sh

        # resume
        source resume.sh

        echo
        echo "  To Check integrity"
        CMD="$COMPTEST $FILE"
        source cmd.sh
    done
echo
