#!/bin/sh

# O objetivo desse script é verificar se existe erro no arquivo log e reportar
# a pessoa responsável.

# O comando mail é do pacote mailutils. Voce pode usar o serviço ssmtp para configurar
# um smtp, https://wiki.debian.org/sSMTP

# : : : : : : : : : : : : : : : : : : : : : :
# variaveis de ambiente

# section
SECTION="report-log"

# mta
MTA="sendmail"  # sendmail OR mail

# path to binary
MAIL="/usr/sbin/mail"
SENDMAIL="/usr/sbin/sendmail"

MAILFROM="report@domain.com"
MAILTO="mail0@domain.com, mail1@domain.com, mailN@domain.com"
MAILSUBJ="Robot13 Report Backup Log"

# : : : : : : : : : : : : : : : : : : : : : :
# main code

# recebe DESTINATION e FORMAT via parametro
if [ ! -z "$1" ]
    then
          LOGSUC="$1"
    else
          echo "!Erro: Log success é obrigatorio."
          exit 0
    fi

if [ ! -z "$2" ]
    then
          LOGERR="$2"
    else
          echo "!Erro: Log error é obrigatorio."
          exit 0
    fi

# header
source header.sh

echo
echo "  User       : $USER"
echo "  Server     : $SERVER"
echo "  Source     : $BACKUP"
echo "  CMD        : $CMD"

# success
echo
echo "  = Send report..."
echo "  Success    : $LOGSUC"
echo "  Error      : $LOGERR"


if [ "$MTA" == 'sendmail' ]
 then
    S="$MAILSUBJ - Sucess"
    echo "  SendMail success!"
    echo -e "subject:$S\nto:$MAILTO\n(`more $LOGSUC`)" | $SENDMAIL -t -f $MAILFROM

    S="$MAILSUBJ - Error"
    echo "  SendMail error!"
    echo -e "subject:$S\nto:$MAILTO\n(`more $LOGERR`)" | $SENDMAIL -t -f $MAILFROM
fi


if [ "$MTA" == 'mail' ]
 then
    echo "  Mail success!"
    S="$MAILSUBJ - Sucess"
    $MAIL -v -s "$S" $MAILTO < $LOGSUC

    echo "  Mail error!"
    S="$MAILSUBJ - Error"
    $MAIL -v -s "$S" $MAILTO < $LOGERR
fi

# resume
source resume.sh
