#!/bin/bash

# O objetivo desse script é verificar se existe erro no arquivo log e reportar
# a pessoa responsável.

# O comando mail é do pacote mailutils. Voce pode usar o serviço ssmtp para configurar
# um smtp, https://wiki.debian.org/sSMTP

# # # variaveis de ambiente
START=$(date)

# section
SECTION="report-log"

# mta
MTA="sendmail"  # sendmail OR mail

# path to binary
MAIL="/usr/sbin/mail"
SENDMAIL="/usr/sbin/sendmail"

MAILFROM="mailfrom@domain.com.br"
MAILTO="mailto@domain.com.br"
MAILSUBJ="Robot13 Report Backup Log"

ORIGIN=$MAILFROM
DESTINATION=$MAILTO

# main code

# recebe LOG e ERROR via linha de comando
if [ ! -z "$1" ]
    then
          LOGSUC="$1"
    else
          echo "!Erro: Log success é obrigatorio."
          exit 0
    fi

if [ ! -z "$2" ]
    then
          LOGERR="$2"
    else
          echo "!Erro: Log error é obrigatorio."
          exit 0
    fi

if [ "$MTA" == 'sendmail' ]
 then
    CMD="$SENDMAIL -t -f $MAILFROM"

    # header
    source header.sh

    S="$MAILSUBJ - Sucess"
    echo "  SendMail success!"
    echo -e "subject:$S\nto:$MAILTO\n(`more $LOGSUC`)" | $CMD

    S="$MAILSUBJ - Error"
    echo "  SendMail error!"
    echo -e "subject:$S\nto:$MAILTO\n(`more $LOGERR`)" | $CMD
fi


if [ "$MTA" == 'mail' ]
 then
    CMD="$MAIL -v -s $S $MAILTO"
    # header
    source header.sh

    echo "  Mail success!"
    S="$MAILSUBJ - Sucess"
    eval "$CMD < $LOGSUC"

    echo "  Mail error!"
    S="$MAILSUBJ - Error"
    eval "$CMD < $LOGERR"
fi

# success
echo
echo "  = Send report..."
echo "  MTA        : $MTA"
echo "  Success    : $LOGSUC"
echo "  Error      : $LOGERR"

# resume
source resume.sh
